@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif; 
    color: white;
  }

body {
    width: 10vw;
    height: 16vh;
    background: blue ;
    background-size: cover;    
} 

    main{
             
       
    }

    

    iframe#tela {
   
    }  

    section#redes-sociais {
        
    }
    
    section#redes-sociais img {
     
    }

    section#redes-sociais img:hover {
           
    }
