@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif; 
    color: white;
  }

body {
    width: 5vw;
    height: 12vh;
    background: blue ;     
} 

    main{
             
       
    }

    

    iframe#tela {
   
    }  

    section#redes-sociais {
        
    }
    
    section#redes-sociais img {
     
    }

    section#redes-sociais img:hover {
           
    }
